body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background: #FFC8BC;
}
.App {
  margin-top: 8em;

}
.container {
  background: #ffffff;
}
#add {
margin-top: 1em;
}
.buttons {
  margin-top: 1em;
}